
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="item">
        <div class="slider-img"><img src="~/images/user_img/background/1.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="animated bounceInDown slider-captions background-text">
                        <h1 class="slider-title">About Us</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  ************************* Vision Starts Here ************************** -->

<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6 pr-5">
                <h2>
                    Our vision is a world where all youth are equipped with the scientific knowledge that empowers
                    them to become the next generation of innovators.
                </h2>
            </div>
            <div class="image-part col-md-6">
                <img src="~/images/user_img/about_us/about_us/vision.png" alt="">
            </div>
        </div>
    </div>
</div>



<!-- ################# Mission Start Here #######################--->

@*<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">

            <div class="image-part col-md-6">
                <img src="~/images/user_img/about_us/about_us/vision.png" alt="aaaa">
            </div>
            <div class="text-part col-md-6 pr-5">
                <h2>
                    Our vision is a world where all youth are equipped with the scientific knowledge that empowers
                    them to become the next generation of innovators.
                </h2>
            </div>
        </div>
    </div>
</div>*@


<!-- ################# Process Start Here #######################--->

<!--  ************************* Our Beginning Starts Here ************************** -->

<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h1>Our Beginnings</h1>
                <p>
                    Pueblo Science founders Prof. Cynthia Goh and Dr. Mayrose Salvador both grew up in rural
                    Philippines, where resources are limited and access to quality science education is lacking.
                </p>
                <p>
                    Their pursuit of science led them to the University of Toronto, where the two of them met.
                    Reflecting on their journeys, they recognized that improving the quality and accessibility of
                    science education is one of the most effective and sustainable methods of advancing long-term
                    health and prosperity in developing countries.
                </p>
                <p>
                    They founded Pueblo Science in 2010 to help those living in low-resource communities around the
                    world overcome barriers to science education by empowering local teachers to engage students
                    with hands-on scientific experiments, using 100% locally available materials.
                </p>
            </div>
            <div class="image-part col-md-6">
                <img src="~/images/user_img/about_us/about_us/coporate.jpeg" alt="">
            </div>
        </div>
    </div>
</div>

