
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="item">
        <div class="slider-img"><img src="~/images/user_img/background/1.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="animated bounceInDown slider-captions background-text">
                        <h1 class="slider-title">Our Mission</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="om-title">
        <h1>Our Mission</h1>
    </div>
    <div class="row">
        <div class="om-content col-lg-7">
            <p>
                Our primary mission is to extend compassion and support to those in need by offering resources,
                assistance, and hope.
            </p>
        </div>
        <div class="om-img-holder col-lg-5">
            <img src="~/images/user_img/mission/charity1.png" alt="test">
        </div>
    </div>
    <div class="row">
        <div class="om-img-holder col-lg-5">
            <img src="~/images/user_img/mission/charity2.png" alt="test">
        </div>
        <div class="om-content col-lg-7">
            <p>
                Our primary mission is to extend compassion and support to those in need by offering resources,
                assistance, and hope.
            </p>
        </div>
    </div>
    <div class="om-title">
        <h1>Our Vision</h1>
    </div>
    <div class="row">
        <div class="om-img-holder col-lg-4">
            <img src="~/images/user_img/mission/6.png" alt="test">
        </div>
        <div class="om-img-holder col-lg-4">
            <img src="~/images/user_img/mission/4.png" alt="test">
        </div>
        <div class="om-img-holder col-lg-4">
            <img src="~/images/user_img/mission/5.png" alt="test">
        </div>

    </div>
    <div class="row">
        <div class="om-img-holder col-lg-5">
            <img src="~/images/user_img/mission/1.png" alt="test">
        </div>
        <div class="om-content col-lg-7">
            <p>
                Our primary mission is to extend compassion and support to those in need by offering resources,
                assistance, and hope.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="om-content col-lg-7">
            <p>
                Our primary mission is to extend compassion and support to those in need by offering resources,
                assistance, and hope.
            </p>
        </div>
        <div class="om-img-holder col-lg-5">
            <img src="~/images/user_img/mission/2.png" alt="test">
        </div>

    </div>

    <div>
        <div class="ov-title">
            <h1>Join Hands And Help Us</h1>
        </div>
        <div class="ov-content ">
            <p>Make the world a better place by participating in our Campaigns</p>
        </div>
        <div class="ov-img-holder">
            <img src="~/images/user_img/mission/charity.png" alt="test">
        </div>
    </div>
</div>


