
@{
    ViewBag.Title = "WhatWeDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="item">
        <div class="slider-img"><img src="~/images/user_img/slider/slider-1.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="animated bounceInDown slider-captions background-text">
                        <h1 class="slider-title">What We Do</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="our-work-body">
        <div class="example-test">
            <div class="container">
                <div class="row">
                    <div class="text-wwd">
                        <p>
                            We believe that education is both the means as well as the end to a better life the
                            means because it empowers an individual to earn his/her livelihood and the end
                            because it increases one's awareness on a range of issues - from healthcare to
                            appropriate social behaviour to understanding one's rights - and in the process help
                            him/her evolve as a better citizen. Education is the most effective tool which helps
                            children build a strong foundation: enabling them to free themselves from the
                            vicious cycle of ignorance, poverty and disease.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="title-change">
                <h1>Join Hands</h1>
            </div>
            <div class="row">
                <div class="card card-our-work">
                    <img src="~/images/user_img/about_us/whatwedo/what1.jpg" class="img-top-wwd" alt="...">
                    <div class="card-change">
                        <h5 class="card-title">Education</h5>
                        <p class="card-text">
                            We volunteered at community centers, spent time volunteering at community centers to help
                            people who needed support, such as teaching children, distributing food to the poor, or
                            providing provide health care services for the elderly.
                        </p>
                    </div>
                </div>
                <div class="card card-our-work">
                    <img src="~/images/user_img/about_us/whatwedo/what5.jpg" class="img-top-wwd" alt="...">
                    <div class="card-change">
                        <h5 class="card-title">Warm Winter</h5>
                        <p class="card-text">
                            We have donated supplies and clothing, organized or participated in campaigns to donate
                            supplies and clothing to people in difficult circumstances, such as orphans, homeless
                            people, or shelters. relief center, Education and training support Donate books, school
                            supplies or finances to support education and training for children and students in
                            difficult circumstances.
                        </p>
                    </div>
                </div>
                <div class="card card-our-work">
                    <img src="~/images/user_img/about_us/whatwedo/what3.jpg" class="img-top-wwd" alt="...">
                    <div class="card-change">
                        <h5 class="card-title">Material Support</h5>
                        <p class="card-text">
                            We have participated in social projects, participating in social projects such as building
                            houses for the poor, gardening at community gardens, or cleaning up the local environment,
                            donating books. notebooks, school supplies or finances to support education and training for
                            children and students in difficult circumstances.
                        </p>
                    </div>
                </div>
            </div>
        </div>`

        <div class="example-test">
            <div class="container">
                <div class="row ">
                    <div class="text-wwd">
                        <p>
                            More than just providing help, we also focus on building community power. We promote
                            autonomy and create opportunities for everyone to be independent and contribute to
                            community development. Our charity fund is not only a source of spiritual support
                            but also a financial and material source. We provide the necessary resources to help
                            recipients achieve their goals and overcome difficulties. Please join us in sharing
                            love and sacrifice to build an increasingly stronger community.
                        </p><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card card-wwd">
            <div class="row">
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what2.jpg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what4.jpg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what6.jpg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what7.jpg" alt="">
                </div>

            </div>
            <div class="row">
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what8.jpg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what9.jpeg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what10.jpg" alt="">
                </div>
                <div class="col-3 img-ngang">
                    <img src="~/images/user_img/about_us/whatwedo/what11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>





<!-- ******************** Body Starts Here ******************* -->




</div>

