
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-sign">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="~/images/user_img/signin_signup/anh1.jpg" alt="">
            </div>
            <div class="back">
                <img src="~/images/user_img/signin_signup/anh2.jpg" alt="">
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" name="Username">
                                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Enter your password" name="Password">
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Login">
                            </div>
                            <div class="text sign-up-text">Don't have an account? <a style="color: limegreen" href="@Url.Action("Register","Login")">Register Now</a></div>
                        </div>
                    }
                </div>
          </div>
        </div>
    </div>
</section>

