
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="dashboard-bg-contain">
        <span class="center db-title">Dashboard Page</span>
    </div>
    <div class="dashboard-bg-contain">
        <span class="center db-intro">Welcome To Ngo Charitables Admin Page</span>
    </div>
    

</div>
    
    